/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
html {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
.list-style-type-none {
    list-style-type: none;
}
.my-button {
    border: none;
    padding: 5px 10px;
    background-color: #0061ff;
    color: white;
}
.btn-long {
    width: 100%;
    padding: 10px 0;
}
.btn-trasparent {
    padding: 10px 15px;
    background-color: white;
    color: black;
    border: 1px solid black;
}
.btn-white {
    background-color: white;
    color: black;
}
.my-row {
    display: flex;
}
.col-1-5 {
    width: calc(100% / 5);
}
.col-3-5 {
    width: calc((100% / 5) * 3);
}
.col-2-5 {
    width: calc((100% / 5) * 2);
}
.col-1-3-gutter {
    width: calc((100% - 100px) / 3);
}
.gutter-50 {
    flex-wrap: wrap;
    justify-content: space-between;
}
.text-grey {
    color: grey;
}
hr {
    width: 15%;
    border: 1px solid #686868;
}


/* HEADER */
header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: white;
}
header .header-left, .header-right, header nav {
    display: inline-block;
}
header .header-right {
    text-align: right;
}
header .header-logo img {
    height: 20px;
    vertical-align: middle;
}
header ul {
    display: inline-block;
}
header ul li {
    display: inline-block;
}
header .header-left ul li:nth-child(n + 2) {
    margin-left: 20px;
}
header .header-right ul li:nth-last-child(n + 2) {
    margin-right: 20px;
}
header a {
    color: black;
    text-decoration: none;
    font-size: 0.8em;
}


/* FOOTER */
footer {
    background-color: #000000;
    color: white;
}
footer .footer-top .my-row {
    padding: 70px 0;
}   
footer .footer-top .col-1-5 ul h4 {
    padding-bottom: 15px;
}   
footer .footer-top .col-1-5 ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.7em;
}   
footer .footer-bottom {
    padding: 40px 0;
    font-size: 0.8em;
}





/* DEBUG */

/* .debug header > * {
    border: 2px dotted black ;
}

.debug footer .col-1-5 {
    border: 1px solid white;
} */